 body {
    background-color: gainsboro;
 }

 
 .nav-link {
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: #000000E6;
    background-color:whitesmoke;
    
} 

.bg-pri {
    background-color: #9db3c8;;
}
.bg-sec {
   background-color: white;
}
.circle-img {
    border-radius: 50%;
}
.small-img {
    border: none;
    height: 24px;
    overflow: hidden;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    width: 24px;
}

#premium {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 20px;
    margin-right: 15px;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

 #ag-ikon {
    position: relative;
    right: 12px;
} 



#photo1 {
    position: relative;
    left: 10px;
    
}


#job {
    position: relative;
    left: 10px;
}
 #job-icon {
    position: relative;
    right: 16px;
} 

.search-global-typeahead__input {
    margin-left: 15px;
}

.logo {
    width: 35px;
    height: 35px;
    position: relative;
    left: 25px;
}

 .mercado-match {
    margin-left: 12px;
    position: relative;
    left: 12px;
} 

input.search-global-typeahead__input, input.search-global-typeahead__input:hover {
    border: none;
    box-shadow: none;
} 

input.search-global-typeahead__input {
    width: 22%;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 34px;
    border-color: var(--color-border-faint);
    background-color: var(--voyager-color-background-input-search);
    border-radius: var(--corner-radius-small);
    color: var(--color-text-active);
    padding: 0 0.8rem 0 40px;
} 

.navbar-nav {
    position: relative;
    right: 280px;
    top: 10px;
    padding-left: 100px;
    align-items: center;
    background: transparent;
    color: var(--color-icon-nav);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    min-height: 52px;
    min-width: 80px;
    text-decoration: none;
    border-bottom:#000000E6 1px;
}

#ag-ikon {
    position: relative;
    left: 15px;
}

.fa-house {
    position: relative;
    left: 28px;
}

.fa-briefcase {
    position: relative;
    left: 24px;
}

.fa-message {
    position: relative;
    left: 30px;
}

.fa-bell {
    position: relative;
    left: 30px;
}

.fa-bars {
    position: relative;
    left: 7px;
}

svg {
    position: relative;
    left: 10px;
}
.feed-identity-module__member-bg-image {
    background-position: center;
    background-size: cover;
    display: block;
    height: 56.25px;
    margin: -12px -12px 0;
}

.profile {
    
    width: 400px;
    height: 400px;
    font-size: 14px;
}
#profile-img {
    
    position: relative;
    bottom: 40px;
}

#d1 {
    position: relative;
    right: 14px;
    font-size: 14px;
    
}

.text-lightt {
    font-weight: 300;
    color: gray;
}

.tablo > tr,td {
    padding: 10px;
}

.row1 {
    position: relative;
    bottom: 50px;
}

a {
    color: black;
}

.d2
{
    position: relative;
    left: 18px;
    top: 10px;
}

.share-box-feed-entry__trigger {
    margin: 0.4rem 0;
    font-size: 1.4rem;
    flex-grow: 1;
    width: 410px;
    height: 45px;
    justify-content: left;
    --artdeco-reset-typography_getLineHeight: 1.5;
    line-height: var(--artdeco-reset-typography_getLineHeight);
    border: 1px solid var(--color-border-low-emphasis);
    border-radius: 35px!important;
    padding-left: 1.6rem!important;
    position: relative;
    left: 35px;
}
.artdeco-button, .peek-carousel-controls__button {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
    align-items: left;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    display: inline-flex;
    justify-content: left;
    min-width: 6.4rem;
    max-width: 480px;
    overflow: hidden;
    transition-property: background-color,box-shadow,color;
    vertical-align: left;
}

aside {
    float: right;
    margin-right: 0px;
    position: relative;
    left: 20px;
   
    
}

.fa-arrow-right {

    position: relative;
    bottom: 19px;
}
.post-text {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 8px;
    color: gray;
    
}

.news {
    float: left;

}
.news > ul {
    list-style-type: none;
    
}
#ogeler {
    position: relative;
    right: 44px;
}
.d2 {
    position: relative;
    top: 39px;
}
#post-img {
    position: relative;
    top: 11px;
}

.btn {
    /* display: inline; */
    margin-left: 0px;
    margin: 0px;
}

.b-photo {
    position: relative;
    left: 60px;
}

.b-vid {
    position: relative;
    left: 16px;
}

.b3 {
    position: relative;
    left: 27px;
}

.button-text {
    color: black;
}

.btn-group > button {
    height: 40px;
    width: 100px;
}

.art1 {
    width: 500px;
    position: relative;
    right: 30px;
    height: 150px;
    align-items: center;
    vertical-align: center;
    left: 10px;
}
.post-it {
    position: relative;
    top: 20px;
    right: 30px;
}
.post-type {
   position: relative;
   top: 30px;
   right: 30px;
}

.suggests {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.suggests > button {
    border-radius: 30%;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    width: 100px;
    font-size: 17px;
    position: relative;
    bottom: 16px;
    text-align: center;
}

.s2 {
    position: relative;
    left: 60px;
    bottom: 50px;
}

.l3
{
    position: relative;
    bottom: 56px;
}

.button-text > i {

    position: relative;
    right: 34px;
}

.vid {
    top: 20px;
}

.button-text > b {
position: relative;
bottom: 22px;
left: 9px;
float: right;
font-size: 15px;
}
.navbarbg {
    height: 55px;
    background-color: white;
  }
  
  input.searche {
    height: 36px;
    max-width: 500px;
    background-color: #eef3f8;
    border: 0;
    
  }
  
  input.searche::placeholder {
    font-size: 14px;
    color: gray;
    background-image: url(/assets/search-solid.svg);
    background-repeat: no-repeat;
    background-size: 6%;
  }
  
  
  .body {
    background-color: #F3F2EF;
  }
  
  .menutext {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 5px;
    font-weight: lighter;
  }
  
  .menutext:hover {
    color: black;
  }
  
  button.mediatext {
    color: #5f5f5f;
  }
  
  button.mediatext:hover {
    color: #5f5f5f;
  }
  
  .mediatext {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5f5f;
  }
  
  i {
    color: gray;
    margin-top: 8px;
  }
  i:hover {
    color: black;
  }
  
  input.content {
    border-radius: 40px;
    height: 45px;
  }
  input.content::placeholder {
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/edit-regular.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  div.card {
    border-radius: 10px;
  }
  
  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .view {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #5f5f5f;
  }
  
  .categories {
    font-size: 13px;
    font-weight: bold;
    color: #0a66c2;
  }
  
  li {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
  }

 #a1 {
    font-weight: 500;
    position: relative;
    left: 20px;
 }
  
  .link {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #5f5f5f;
  }
  
  button.ref {
    color: white;
  }
  
  button.ref:hover {
    color: #5f5f5f;
  }
  
  .postphoto {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .posttext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px;
  }

  .card {
    width: 500px;
  position: relative;
 bottom: 250px;
 left: 75px;
  }

  section{
    position: relative;
    bottom: 25px;
  }

  .news {
    position: relative;
    top: 30px;
    left: 30px;
    width: 310px;
  }

  .btn-group {
    right: 25px;
  }